name: Haskell CI

on: [pull_request]

jobs:
  build:
    name: ghc ${{ matrix.ghc }}
    runs-on: ubuntu-16.04
    strategy:
      matrix:
        ghc: ["8.6.5", "8.8.1"]
        cabal: ["3.0"]

    steps:
    - uses: actions/checkout@master
      if: github.event.action == 'opened' || github.event.action == 'synchronize'

    - uses: actions/setup-haskell@v1
      name: Setup Haskell
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: ${{ matrix.cabal }}

    - uses: actions/cache@preview
      name: Cache ~/.cabal/packages
      with:
        path: ~/.cabal/packages
        key: ${{ runner.os }}-${{ matrix.ghc }}-cabal-packages
        restore-keys: |
          ${{ runner.os }}-${{ matrix.ghc }}-dist
    - uses: actions/cache@preview
      name: Cache ~/.cabal/store
      with:
        path: ~/.cabal/store
        key: ${{ runner.os }}-${{ matrix.ghc }}-cabal-store
        restore-keys: |
          ${{ runner.os }}-${{ matrix.ghc }}-dist
    - uses: actions/cache@preview
      name: Cache dist-newstyle
      with:
        path: dist-newstyle
        key: ${{ runner.os }}-${{ matrix.ghc }}-dist
        restore-keys: |
          ${{ runner.os }}-${{ matrix.ghc }}-dist

    - name: Install dependencies
      run: |
        git submodule update -i --recursive
        cabal v2-update
        cabal v2-configure --enable-benchmarks --enable-tests --write-ghc-environment-files=always -j2 -O0
        cabal v2-build --only-dependencies all

    - name: Build & test
      run: |
        cabal v2-build all
        cabal v2-test all
        cabal v2-haddock all
        cabal v2-sdist all
        for p in tree-sitter* ; do echo "$p" ; cd "$p" ; cabal check ; cd ..; done
